/****************** UNIVERSAL STYLES ******************/

body {
    font-size: 15px;
    font-family: 'Poppins', Arial, sans-serif;
    color: hsl(229, 6%, 66%);
    font-weight: 400;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-wrapper {
    width: 83%;
    display: flex;
    flex-direction: column;
}

h1, h2, h3, p {
    margin: 0;
}

h2, h3 {
    color: hsl(234, 12%, 34%);
}

p {
    line-height: 1.8em;
}

/* About Styles */

#about {
    margin: 75px 0px;
    text-align: center;
}

h1 {
    font-size: 1.6em;
    font-weight: 200;
    margin: 15px 0px;
}

h2 {
    font-size: 1.6em;
    font-weight: 600;
    margin-bottom: 24px;
}

/* Features Styles */

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 7px;
    padding: 28px 0;
    margin-bottom: 24px;
    box-shadow: 0px 10px 20px 0px hsl(212, 40%, 90%);
}

.features-wrapper {
    width: 82%;
}

h3 {
    font-size: 1.2em;
    font-weight: 600;
    margin-bottom: 12px;
}

#features p {
    font-size: 0.87em;
    margin-bottom: 35px;
}

.image-wrapper {
    display: flex;
    justify-content: flex-end;
}

.image-wrapper img {
    width: 60px;
    height: 60px;
}

#supervisor {
    border-top: solid 4px hsl(180, 62%, 55%);
}

#team-builder {
    border-top: solid 4px hsl(0, 78%, 62%);
}

#karma {
    border-top: solid 4px hsl(34, 97%, 64%);
}

#calculator {
    border-top: solid 4px hsl(212, 86%, 64%);
}

/* Footer Styles */

footer {
    text-align: center;
    margin: 30px 0;
}

/********************** MEDIA QUERIES *********************/

/* Desktop Styles */

@media only screen and (min-width: 1440px) {
    
    /* About Styles */

    #about {
        width: 45%;
        margin: 65px 0;
    }

    h1, h2 {
        font-size: 2.4em;
    }

    h1 {
        margin: 25px 0 0 0;
    }

    /* Features Styles */

    #features {
        display: flex;
        flex-direction: column;
        width: 77%;
    }

    #features article {
        width: 30.5%;
    }

    #features .content-wrapper {
        flex-wrap: wrap;
        height: 535px;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    #supervisor {
        margin: 200px 0;
    }

    #karma {
        margin-top: 6px;
    }

    /* Footer Styles */

  }